.avatar-with-icon {
  align-items: flex-start;
  background-color: #ffffff40;
  border-radius: 100px;
  display: flex;
  gap: 10px;
  position: relative;
}

.avatar-with-icon .profile-mask {
  align-self: stretch;
  flex: 1;
  position: relative;
}

.avatar-with-icon .class {
  border-radius: 14px !important;
  height: 28px !important;
  width: 28px !important;
}

.avatar-with-icon .class-2 {
  border-radius: 9.5px !important;
  height: 19px !important;
  width: 19px !important;
}

.avatar-with-icon .class-3 {
  border-radius: 8.5px !important;
  height: 17px !important;
  width: 17px !important;
}

.avatar-with-icon .class-4 {
  left: 96px !important;
  position: absolute !important;
  top: 96px !important;
}

.avatar-with-icon .class-5 {
  height: 22px !important;
  left: 66px !important;
  position: absolute !important;
  top: 66px !important;
  width: 22px !important;
}

.avatar-with-icon .class-6 {
  height: 13px !important;
  left: 39px !important;
  position: absolute !important;
  top: 39px !important;
  width: 13px !important;
}

.avatar-with-icon .class-7 {
  height: 11px !important;
  left: 33px !important;
  position: absolute !important;
  top: 33px !important;
  width: 11px !important;
}

.avatar-with-icon .icons-instance {
  height: 28px !important;
  left: 2px !important;
  mix-blend-mode: overlay !important;
  position: absolute !important;
  top: 1px !important;
  width: 28px !important;
}

.avatar-with-icon.small {
  height: 44px;
  width: 44px;
}

.avatar-with-icon.medium {
  height: 52px;
  width: 52px;
}

.avatar-with-icon.large {
  height: 88px;
  width: 88px;
}

.avatar-with-icon.extra-large {
  height: 128px;
  width: 128px;
}
