/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.context-menu-item {
    @apply items-center flex h-16 w-[260px] relative shadow-[var(--blur)] bg-[color:var(--windows-glass)] hover:bg-[color:var(--controls-hover)];
}
.context-menu-item .context-menu-frame {
    @apply ;
}
.context-menu-item .context-menu-name {
    @apply text-[length:var(--headline-font-size)] font-[number:var(--headline-font-weight)] tracking-[var(--headline-letter-spacing)] leading-[var(--headline-line-height)] mb-[-0.5px] mt-[-2.5px] relative text-center whitespace-nowrap text-[color:var(--text-invert)];
    font-family: var(--headline-font-family);
    font-style: var(--headline-font-style);
}
.context-menu-item .context-menu-description {
    @apply text-[color:var(--text-invert-secondary)];
}
.context-menu-item .line {
    @apply self-stretch flex-1 h-px object-cover relative;
}
.context-menu-item.basic:active {
    @apply bg-[color:var(--controls-selected)];
}
.context-menu-item.selected {
    @apply bg-white mix-blend-color-dodge;
}

.context-menu-item.basic {
    @apply px-0 py-2 border-[#ffffff24] border-t;
    border-top-style: solid;
}

.context-menu-item.header {
    @apply px-0 py-2;
}
