.friend-modal::before {
    /* control the border thickness */
    background: linear-gradient(
        150deg,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.01) 40%,
        rgba(255, 255, 255, 0.01) 60%,
        rgba(255, 255, 255, 0.1) 100%
    );
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.friend-modal .profile-item-instance {
    @apply gap-2 px-4 py-1;
}
