.profile-item {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    position: relative;
    width: 260px;
}

.profile-item .selectable-area {
    align-self: stretch;
}

.profile-item .card {
    border-radius: 12px;
    align-items: center;
    display: flex;
    gap: 8px;
    padding: 4 4px;
    position: relative;
}

.profile-item .avatar-frame {
    align-items: center;
    display: flex;
    height: 66px;
    width: 66px;
    justify-content: center;
    position: relative;
}

.profile-item .info-frame {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    width: fit-content;
}

.profile-item .user-id {
    color: var(--text-invert);
    font-family: var(--headline-font-family);
    font-size: var(--headline-font-size);
    font-weight: var(--headline-font-weight);
    font-style: var(--headline-font-style);
    letter-spacing: 0;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    line-height: normal;
}

.profile-item .status-message {
    color: var(--text-invert);
    font-family: var(--sub-font-family);
    font-size: var(--sub-font-size);
    font-weight: var(--sub-font-weight);
    font-style: var(--sub-font-style);
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.profile-item:hover {
    background-color: var(--controls-hover);
}

.profile-item .card:active {
    background-color: var(--controls-selected);
}

/* .profile-item .slim { */
/*   line-height: 32px; */
/* } */
/**/
/* .profile-item .full { */
/*   line-height: normal; */
/* } */
