.navigation-bar {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 64px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.navigation-bar .nav-bar-background {
  background-color: var(--color-primary);
  align-items: center;
  display: flex;
  flex: 1;
  height: 64px;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
}

@media (max-width: 640) {
  .navigation-bar .nav-bar-background {
    background-color: var(--color-primary);
    align-items: center;
    display: flex;
    flex: 1;
    height: 48px;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
  }
}

.navigation-bar .double-sharp {
  height: 28.41px !important;
  min-width: 28.53px !important;
  position: relative !important;
}

.navigation-bar .right-side-icons {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.navigation-bar .profile-photo {
  height: 39px;
  min-width: 39px;
  object-fit: cover;
  position: relative;
}
