.friend-modal {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;

  margin: 14px;
  width: 262px;
  padding: 1px 1px;
  border-radius: 14px;

  backdrop-filter: blur(50px) brightness(100%);
  box-shadow: var(--blur);
  background-color: var(--windows-glass);
}

.friend-modal::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 14px;
  padding: 1px; /* control the border thickness */
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.01) 40%,
    rgba(255, 255, 255, 0.01) 60%,
    rgba(255, 255, 255, 0.1) 100%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.friend-modal .profile-item-instance {
  gap: 8px !important;
  padding: 4px 16px !important;
}
