/* TODO: 이거 쓰나요?? */

.context-menu-item {
    align-items: center;
    display: flex;
    height: 64px;
    width: 260px;
    position: relative;
    box-shadow: var(--blur);
    background-color: var(--windows-glass);
}

.context-menu-item .context-menu-frame {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 19px;
    justify-content: center;
    padding: 4px 16px;
    position: relative;
    width: 260px;
}

.context-menu-item .context-menu-name {
    font-family: var(--headline-font-family);
    font-size: var(--headline-font-size);
    font-style: var(--headline-font-style);
    font-weight: var(--headline-font-weight);
    letter-spacing: var(--headline-letter-spacing);
    line-height: var(--headline-line-height);
    margin-bottom: -0.5px;
    margin-top: -2.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.context-menu-item .context-menu-name {
    color: var(--text-invert);
}

.context-menu-item .context-menu-description {
    color: var(--text-invert-secondary);
}

.context-menu-item .line {
    align-self: stretch;
    flex: 1;
    height: 1px;
    object-fit: cover;
    position: relative;
}

.context-menu-item:hover {
    background-color: var(--controls-hover);
}

.context-menu-item.basic:active {
    background-color: var(--controls-selected);
}

.context-menu-item.selected {
    background-color: #ffffff;
    mix-blend-mode: color-dodge;
}

.context-menu-item.basic {
    border-color: #ffffff24;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 8px 0px;
}

.context-menu-item.header {
    padding: 8px 0px;
}
